<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="data-column-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="91"/>
                <entry key="0" type="xstring" value="Atom count"/>
                <entry key="1" type="xstring" value="Bond count"/>
                <entry key="2" type="xstring" value="SlogP"/>
                <entry key="3" type="xstring" value="SMR"/>
                <entry key="4" type="xstring" value="LabuteASA"/>
                <entry key="5" type="xstring" value="TPSA"/>
                <entry key="6" type="xstring" value="AMW"/>
                <entry key="7" type="xstring" value="ExactMW"/>
                <entry key="8" type="xstring" value="NumLipinskiHBA"/>
                <entry key="9" type="xstring" value="NumLipinskiHBD"/>
                <entry key="10" type="xstring" value="NumRotatableBonds"/>
                <entry key="11" type="xstring" value="NumHBD"/>
                <entry key="12" type="xstring" value="NumHBA"/>
                <entry key="13" type="xstring" value="NumHeteroAtoms"/>
                <entry key="14" type="xstring" value="NumHeavyAtoms"/>
                <entry key="15" type="xstring" value="NumAtoms"/>
                <entry key="16" type="xstring" value="NumRings"/>
                <entry key="17" type="xstring" value="NumAromaticRings"/>
                <entry key="18" type="xstring" value="NumAromaticCarbocycles"/>
                <entry key="19" type="xstring" value="Chi0v"/>
                <entry key="20" type="xstring" value="Chi1v"/>
                <entry key="21" type="xstring" value="Chi2v"/>
                <entry key="22" type="xstring" value="Chi3v"/>
                <entry key="23" type="xstring" value="Chi4v"/>
                <entry key="24" type="xstring" value="Chi1n"/>
                <entry key="25" type="xstring" value="Chi2n"/>
                <entry key="26" type="xstring" value="Chi3n"/>
                <entry key="27" type="xstring" value="Chi4n"/>
                <entry key="28" type="xstring" value="HallKierAlpha"/>
                <entry key="29" type="xstring" value="kappa1"/>
                <entry key="30" type="xstring" value="kappa2"/>
                <entry key="31" type="xstring" value="kappa3"/>
                <entry key="32" type="xstring" value="slogp_VSA1"/>
                <entry key="33" type="xstring" value="slogp_VSA2"/>
                <entry key="34" type="xstring" value="slogp_VSA3"/>
                <entry key="35" type="xstring" value="slogp_VSA4"/>
                <entry key="36" type="xstring" value="slogp_VSA5"/>
                <entry key="37" type="xstring" value="slogp_VSA6"/>
                <entry key="38" type="xstring" value="slogp_VSA7"/>
                <entry key="39" type="xstring" value="slogp_VSA8"/>
                <entry key="40" type="xstring" value="slogp_VSA10"/>
                <entry key="41" type="xstring" value="slogp_VSA11"/>
                <entry key="42" type="xstring" value="slogp_VSA12"/>
                <entry key="43" type="xstring" value="smr_VSA1"/>
                <entry key="44" type="xstring" value="smr_VSA2"/>
                <entry key="45" type="xstring" value="smr_VSA3"/>
                <entry key="46" type="xstring" value="smr_VSA4"/>
                <entry key="47" type="xstring" value="smr_VSA5"/>
                <entry key="48" type="xstring" value="smr_VSA6"/>
                <entry key="49" type="xstring" value="smr_VSA7"/>
                <entry key="50" type="xstring" value="smr_VSA9"/>
                <entry key="51" type="xstring" value="smr_VSA10"/>
                <entry key="52" type="xstring" value="peoe_VSA1"/>
                <entry key="53" type="xstring" value="peoe_VSA2"/>
                <entry key="54" type="xstring" value="peoe_VSA3"/>
                <entry key="55" type="xstring" value="peoe_VSA4"/>
                <entry key="56" type="xstring" value="peoe_VSA5"/>
                <entry key="57" type="xstring" value="peoe_VSA6"/>
                <entry key="58" type="xstring" value="peoe_VSA7"/>
                <entry key="59" type="xstring" value="peoe_VSA8"/>
                <entry key="60" type="xstring" value="peoe_VSA9"/>
                <entry key="61" type="xstring" value="peoe_VSA10"/>
                <entry key="62" type="xstring" value="peoe_VSA11"/>
                <entry key="63" type="xstring" value="peoe_VSA12"/>
                <entry key="64" type="xstring" value="peoe_VSA13"/>
                <entry key="65" type="xstring" value="peoe_VSA14"/>
                <entry key="66" type="xstring" value="MQN1"/>
                <entry key="67" type="xstring" value="MQN2"/>
                <entry key="68" type="xstring" value="MQN3"/>
                <entry key="69" type="xstring" value="MQN4"/>
                <entry key="70" type="xstring" value="MQN8"/>
                <entry key="71" type="xstring" value="MQN9"/>
                <entry key="72" type="xstring" value="MQN10"/>
                <entry key="73" type="xstring" value="MQN12"/>
                <entry key="74" type="xstring" value="MQN13"/>
                <entry key="75" type="xstring" value="MQN14"/>
                <entry key="76" type="xstring" value="MQN16"/>
                <entry key="77" type="xstring" value="MQN17"/>
                <entry key="78" type="xstring" value="MQN19"/>
                <entry key="79" type="xstring" value="MQN20"/>
                <entry key="80" type="xstring" value="MQN21"/>
                <entry key="81" type="xstring" value="MQN22"/>
                <entry key="82" type="xstring" value="MQN23"/>
                <entry key="83" type="xstring" value="MQN26"/>
                <entry key="84" type="xstring" value="MQN27"/>
                <entry key="85" type="xstring" value="MQN28"/>
                <entry key="86" type="xstring" value="MQN30"/>
                <entry key="87" type="xstring" value="MQN31"/>
                <entry key="88" type="xstring" value="MQN36"/>
                <entry key="89" type="xstring" value="MQN41"/>
                <entry key="90" type="xstring" value="MQN42"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="pLC50"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="false"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist"/>
            </config>
        </config>
        <entry key="mode" type="xstring" value="MINMAX"/>
        <entry key="new-min" type="xdouble" value="0.0"/>
        <entry key="new-max" type="xdouble" value="1.0"/>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.normalize3.Normalizer3NodeFactory"/>
    <entry key="node-name" type="xstring" value="Normalizer"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.0.v202412040959"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.0.v202412040959"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Normalizer"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 375, Cols: 71"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.base.data.normalize.NormalizerPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Min/Max (0.0, 1) normalization on 69 column(s)"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="3d3d4ec2-cf29-4045-9f10-2761fe09aab4"/>
    </config>
</config>
